.container {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	height: 100%;
	margin-left: auto;
	width: 116px;
}

/* volume icon */
.container:hover button {
	color: var(--text-secondary);
}

/* progress bar fill */
.conatainer:hover div div div {
	background-color: var(--theme-highlight);
}

.mute {
	text-align: left;
	width: 32px;
	min-width: 32px;
	height: 32px;
}
