.play {
  height: 162px;
  width: 162px;
  
}

.artwork {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 162px;
  height: 162px;
}

.text {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  padding: 0 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}

.name {
  composes: text;
  padding-top: 8px;
}

.curatorName {
  composes: text;
  color: var(--light-font-color);
  padding-bottom: 10px;
}