.tracklist {
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	header,
	li {
		padding: 0.5rem 1rem;
		border-bottom: 0.5px solid var(--color-border-main);
		display: grid;
		grid-template-columns: 2rem // play button
			minmax(150px, 1.5fr) // title
			minmax(150px, 1fr) // artist
			minmax(150px, 1fr) // album
			3.5rem; // duration
		grid-column-gap: 1rem;
		grid-template-rows: 1.75rem;
		align-items: center;
	}
	header {
		align-items: end;
		font-size: 0.75rem;
	}
	li {
		color: var(--color-font-accent);
		font-size: 0.875rem;
	}
	span {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// thead {
	// 	position: sticky;
	// 	top: 0;
	// 	font-weight: normal;
	// }
	// th {
	// 	text-align: left;
	// }
	// tr {
	// 	padding: 2em;
	// }
}

.duration {
	text-align: right;
}

.track {
	&:hover {
		background-color: var(--color-border-main);
	}
	& svg {
		opacity: 0;
		width: 100%;
		height: 100%;
	}
	&:hover svg {
		opacity: 100;
	}
}

.play {
	width: 100% !important; // overrides font-awesome width
	transform: scale(0.8);
	&:hover {
		transform: scale(0.9);
	}
}
