.tracklist {
	border-top: 1px solid var(--border-color);
	margin-bottom: 15px;
}

.track {
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	color: var(--light-font-color);
	display: flex;
	font-size: 13px;
	font-weight: 400;
	height: 50px;
}

.trackNumber {
	display: flex;
	position: relative;
	justify-content: center;
	width: 36px;
}

.track:hover .playButton {
	opacity: 100;
}

.playButton {
	position: absolute;
	left: 1px;
	bottom: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
	width: 34px;
	height: 34px;
}

.name {
	flex: 1;
	font-size: 13px;
	box-sizing: border-box;
	color: var(--base-font-color);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
}

.duration {
	padding-left: 28px;
}
