.collection {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	overflow: scroll;
	margin-right: var(--x-margin);
	padding: 15px 0 24px var(--x-margin);
	grid-column-gap: 48px;
	grid-row-gap: 5px;
	grid-template-rows: repeat(4, 50px);
}

.track {
	align-items: center;
	color: var(--light-font-color);
	display: flex;
	font-size: 13px;
	font-weight: 400;
	height: 55px;
	position: relative;
	width: 270px;
}

.album {
	height: 45px;
	position: relative;
	width: 45px;
}

.artwork {
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

.track:hover .playButton {
	opacity: 100;
}

.playButton {
	position: absolute;
	left: 5px;
	bottom: 4px;
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
	width: 36px;
	height: 36px;
}

.text {
	align-items: center;
	display: flex;
	width: 100%;
}

.info {
	flex: 1;
	margin-left: 12px;
	width: 170px;
}

.info p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.name {
	color: var(--base-font-color);
}

.duration {
	align-self: center;
	padding-left: 12px;
}
