.album {
	display: flex;
	flex-direction: column;
	max-width: 60rem;
}

.about {
	margin: 0 2rem 2rem;
	display: flex;

}

.left {
	width: 322px;
}

.right {
	margin-left: 2rem;
}

.artwork {
	border: 1px solid var(--border-color);
	border-radius: 6px;
}

.name {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin: 0 0 2px 0;
	padding: 0;
}

.artist {
	color: var(--brand-color);
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	text-decoration: none;
}

.artist:hover {
	text-decoration: underline;
}

.genre {
	color: var(--light-font-color);
	font-size: 13px;
	margin: 4px 0 12px 0;
}

.notes {
	color: var(base-font-color);
	font-size: 13px;
	margin-top: 6px;
	line-height: 1.25rem;
}

.play {
	color: #fff;
	background-color: var(--color-brand-primary);
	margin-top: 0.375rem;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	transition: transform 0.2s;
}

.play:hover {
	transform: scale(1.05);
}

.play svg {
	margin-right: 0.5rem;
}

.footer {
	color: var(--light-font-color);
	font-size: 13px;
	margin: 2rem 0 1rem 0;
	text-align: center;
}
