.album {
	display: flex;
	justify-content: center;
	min-width: 830px;
}

.left {
	margin: var(--y-margin) var(--x-margin);
	width: 322px;
}

.artwork {
	border: 1px solid var(--border-color);
	border-radius: 6px;
}

.info {
	border-bottom: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
	margin: 0 4px;
}

.trackCount {
	color: var(--light-font-color);
	font-size: 13px;
	margin: 10px 0;
}

.playButton {
	height: 32px;
	position: relative;
	width: 32px;
}

.playButton::before {
	color: var(--brand-color);
	content: 'Play';
	position: absolute;
	font-size: 13px;
	right: 30px;
	top: 9px;
}

.right {
	flex: 1;
	margin: var(--y-margin) var(--x-margin);
	min-width: 373px;
	max-width: 624px;
}

.name {
	font-size: 24px;
	font-weight: 700;
	margin: 6px 0 2px;
	padding: 0;
}

.artist {
	color: var(--light-font-color);
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 24px 0;
	text-decoration: none;
}
