.item {
	height: 164px;
	position: relative;
	width: 164px;
}

.link {
	position: absolute;
}

.artwork {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	width: 162px;
	height: 162px;
}

.item:hover .playButton {
	opacity: 100;
}

.playButton:focus {
	opacity: 100;
}

.playButton {
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
	width: 35px;
	height: 35px;
}

.text {
	font-size: 13px;
	font-weight: 500;
	margin: 0;
	overflow: hidden;
	padding: 0 1px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}

.name {
	composes: text;
	padding-top: 8px;
}

.artistLink {
	text-decoration: none;
}

.artistLink:hover {
	color: var(--light-font-color);
	text-decoration: underline;
}

.description {
	color: var(--light-font-color);
	composes: text;
	padding-bottom: 10px;
}
