.btn {
	color: #fff;
	background-color: var(--color-brand-primary);
	margin-top: 0.8rem;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	transition: transform 0.2s;
}

.btn:hover {
	transform: scale(1.05);
}