.nav {
  flex: 1;
  max-height: calc(100vh - 160px);
  overflow: scroll; 
}

.label {
  color: #878786;
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0 4px;
  padding: 0 8px;
}

.label:first-of-type {
  margin-top: 0;
}

.link {
  color: var(--base-font-color);
  display: block;
  font-size: 13px;
  text-decoration: none;
  padding: 5px 16px;
}

.prompt {
  border: 2px solid var(--border-color);
  border-radius: 3px;
  color: var(--light-font-color);
  font-size: 13px;
  margin: 16px 8px;
  padding: 8px 16px;
}

.forYou,
.browse,
.recent,
.albums,
.artists,
.songs,
.playlist {
  composes: link;
}

.active {
  background-color: var(--brand-color);
  color: #fff;
}

.link::before {
  content: "";
  background: url('../../assets/icons.png');
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  float: left; 
  margin: 0 8px 0 0; 
  background-size: 36px;
}

.forYou::before {
  background-position: 0px -432px;
}

.forYou.active::before {
  background-position: -18px -432px;
}

.browse::before {
  background-position: 0px 0px;
}

.browse.active::before {
  background-position: -18px 0px;
}

.recent::before {
  background-position: 0px -414px;
}

.recent.active::before {
  background-position: -18px -414px;
}

.albums::before {
  background-position: 0px -504px;
}

.albums.active::before {
  background-position: -18px -504px;
}

.artists::before {
  background-position: 0px -396px;
}

.artists.active::before {
  background-position: -18px -396px;
}

.songs::before {
  background-position: 0px -486px;
}

.songs.active::before {
  background-position: -18px -486px;
}

.playlist::before {
  background-position: 0px -108px;
}

.playlist.active::before {
  background-position: -18px -108px;
}
