.mediaItem {
	position: relative;

	& div {
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		z-index: -1;
		transition: opacity 0.2s;
	}

	&:hover div {
		opacity: 1;
		z-index: 2;
	}

	& a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	& button {
		color: #fff;
		transition: transform 0.2s;
		z-index: 2;
	}

	& button:hover {
		transform: scale(1.1);
	}

	& img {
		width: 100%;
	}
}
