.artist {
	margin: 0 1rem;
	max-width: 60rem;
}

.name {
	color: #fff;
	border-bottom: 1px solid grey;
	padding-bottom: 12px;
}

.artists {
	padding-top: 1rem;
}

.artists {
	justify-items: center;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
