.searchBar {
	background: #fff;
	border: solid 1px #ccc;
	border-radius: 5px;
	margin: 12px auto;
	width: 182px;
}

.searchBar:focus-within {
	outline-color: #4d90fe;
	outline-color: -webkit-focus-ring-color;
	outline-style: auto;
}

.searchBar::before {
	content: '';
	background: url('../../assets/icons.png') no-repeat 0 0;
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	float: left;
	margin: 6px 7px;
	background-size: 28px;
	background-position: 0px -630px;
}

.input {
	background: #fff;
	border: none;
	font-size: 14px;
	margin: 0;
	padding: 4px 0;
	width: 148px;
}

.input:focus {
	outline: none;
}
