.player {
	align-items: center;
	background-color: var(--color-background-secondary);
	border-top: 1px solid var(--color-border-player);
	display: flex;
	grid-area: player;
	grid-template-columns: 1fr;
	height: 91px;
	overflow: hidden;
	justify-content: space-between;
	padding: 0 2rem;
	transition: height 0.2s ease-out;
	width: 100%;
}

.side {
	min-width: 180px;
	width: 30%;
}

.center {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 3.5rem;
	width: 40%;
	max-width: 722px;
}
