.app {
	display: grid;
	grid-template-areas:
		'sidebar header'
		'sidebar main'
		'player player';
	grid-template-columns: auto 1fr;
	grid-template-rows: 60px auto 91px;
	height: 100vh;
	width: 100vw;
}

.header {
	align-items: center;
	grid-area: header;
	display: flex;
	grid-area: header;
	justify-content: flex-end;
	padding: 0 1em;
	background-color: var(--color-background-main);
}

.main {
	cursor: default;
	background-color: var(--color-background-main);
	grid-area: main;
	padding: 30px;
	max-height: 100%;
	overflow: scroll;
}
