:root {
  --base-font-color: #333;
  --medium-font-color: #878786;
  --light-font-color: #8e8e93;
  --brand-color: #0070c9;
  --border-color: #efefef;
}

body {
  margin: 0;
  color: var(--base-font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
  background-color: transparent;
}