.title {
	margin: var(--y-margin) var(--x-margin);
}

.media {
	border-top: 1px solid #e5e5e5;
	display: grid;
	grid-column-gap: 36px;
	grid-row-gap: 24px;
	grid-template-columns: repeat(auto-fill, 164px);
	justify-content: start;
	margin: 0 48px;
	padding-top: 36px;
}
