.artists {
	padding: 16px 0 24px 48px;
	display: grid;
	grid-auto-flow: column;
	overflow: scroll;
	grid-column-gap: 30px;
	grid-row-gap: 14px;
	grid-template-rows: repeat(3, 1fr);
}

/* hack for padding with overflow */
.artists > *:last-child {
	padding-right: 48px;
}

.link {
	text-decoration: none;
}

.name {
	background-color: #f0f0f0;
	border-radius: 4px;
	color: var(--dark-font-color);
	font-size: 16px;
	overflow: hidden;
	padding: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 250px;
}
